html {
    font-size: 62.5%; /* 1rem = 10px */
}

body{
    background-color: rgb(10, 10, 10);
    padding: 7rem;
}

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: "Rubik";
}

:root{
    --primary-color: #ffb13b;
}

.logo-svg{
    width: 3.5rem;
    cursor: pointer;
    margin: 2.5rem;
}

.header-nav{
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0rem 0.3rem 0.9rem -0.5rem rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0rem 0.3rem 0.9rem -0.5rem rgba(255, 255, 255, 0.75);
    box-shadow: 0rem 0.3rem 0.9rem -0.5rem rgba(255, 255, 255, 0.75);
    background-color: rgb(10, 10, 10);
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
}

.header-nav a{
    margin: 0rem 1rem 0rem 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--primary-color);
}

.header-nav a:hover{
    font-size: 2rem;
}

.div-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-nav button{
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-pedir{
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: 2rem;
    border: transparent;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.button-ubicacion{
    color: #ffffff;
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: 2rem;
    background-color: transparent;
    box-shadow: inset 0 0 0 0.2rem #ffffff ;
    border: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.button-pedir:hover{
    -webkit-box-shadow: 0rem 0.2rem 2.2rem 0rem rgba(255,177,59,1);
    -moz-box-shadow: 0rem 0.2rem 2.2rem 0rem rgba(255,177,59,1);
    box-shadow: 0rem 0.2rem 2.2rem 0rem rgba(255,177,59,1);
}

.button-ubicacion:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: none;
}

.material-symbols-outlined{
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-self: center;
}

.div-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content__menu{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 2rem;
    -webkit-box-shadow: -1.4rem 1.4rem 2.3rem -1.7rem rgba(255, 255, 255, 0.1);
    -moz-box-shadow: -1.4rem 1.4rem 2.3rem -1.7rem rgba(255, 255, 255, 0.1);
    box-shadow: -1.4rem 1.4rem 2.3rem -1.7rem rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
    margin: 2rem 2rem 2rem 2rem;
}

.main-content__menu:hover {
    transform: scale(1.1);
}

.main-content__title{
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    margin: 3rem;
    display: flex;
    width: auto;
    font-size: 3rem;
    text-shadow: -0.1rem 0.3rem 0.3rem rgba(0,0,0,0.28);
    border-radius: 2rem;
    padding: 1rem;
}

.main-content__div-title{
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 2rem;
    margin-top: 3rem;
}

.main-content__img-hamburguesa {
    width: 25rem;
    border-radius: 2rem;
}

.hamburguesa-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.hamburguesa-name {
    color: var(--primary-color);
    font-size: 2rem;
}

.hamburguesa-price{
    color: rgb(59, 252, 59);
}

.div-ingredients{
    width: 25rem;
    text-align: center;
}

.hamburguesa-ingredients{
    color: white;
    font-size: 1.3rem;
}

.div-boton-carrito{
    display: flex;
    justify-content: center;
}

.boton-agregar-carrito{
    width: 10rem;
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    border: none;
    margin: 2rem;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.boton-agregar-carrito:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 0rem 0.2rem 2.2rem 0rem rgba(255,177,59,1);
    -moz-box-shadow: 0rem 0.2rem 2.2rem 0rem rgba(255,177,59,1);
    box-shadow: 0rem 0.2rem 2.2rem 0rem rgba(255,177,59,1);
}

.main-content__about-us{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.main-content__about-us-div-text{
    color: white;
    flex-direction: column;
}

.main-content__about-us__img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
    -webkit-box-shadow: -1.4rem 1.4rem 2.3rem -1.7rem rgba(0,0,0,0.75);
    -moz-box-shadow: -1.4rem 1.4rem 2.3rem -1.7rem rgba(0,0,0,0.75);
    box-shadow: -1.4rem 1.4rem 2.3rem -1.7rem rgba(0,0,0,0.75);
    transition: transform 0.5s ease;
}

.main-content__about-us__img:hover{
    transform: scale(1.04);
}

.main-content__about-us-subtitle{
    font-size: 5rem;
    color: var(--primary-color);
}

.main-content__about-us-span{
    font-size: 2rem;
    text-align: center;
}

.div-recompensas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__recompensas{
    border-radius: 2rem;
}

.main-content__recompensas-subtitle{
    color: var(--primary-color);
    font-size: 10vw;
}

.main-content__recompensas-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__recompensas-input-text{
    width: 30rem;
    height: 5rem;
    border: transparent;
    border-radius: 2rem;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    font-size: 2rem;
    margin: 0rem 2.5rem 0rem 0rem;
    transition: box-shadow 0.3s ease;
}

.main-content__recompensas-input-submit{
    background-color: var(--primary-color);
    width: 9rem;
    height: 4rem;
    border-radius: 2rem;
    border: transparent;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.main-content__recompensas-input-submit:hover{
    -webkit-box-shadow: 0rem 0.2rem 2.2rem 0rem rgba(255,177,59,1);
    -moz-box-shadow: 0rem 0.2rem 2.2rem 0rem rgba(255,177,59,1);
    box-shadow: 0rem 0.2rem 2.2rem 0rem rgba(255,177,59,1);
}

.main-content__recompensas-input-text:hover{
    -webkit-box-shadow: 0rem 0.2rem 2.2rem 0rem rgb(255, 255, 255);
    -moz-box-shadow: 0rem 0.2rem 2.2rem 0rem rgb(255, 255, 255);
    box-shadow: 0rem 0.2rem 2.2rem 0rem rgb(255, 255, 255);
}

@media (min-width:1091px){
    .main-content__about-us{
        flex-direction: row;
    }
    .main-content__about-us__img{
        width: 90%;
    }
}